body {
    background-color: rgb(248, 255, 225);
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
}
main{
    padding:20px;
}
#encabezado {
    display: flex;
    align-items: center;
    margin: 10px;
}
.menu {
    margin-left: auto;
}

.menu:hover {
    color: rgb(173, 178, 23);
}

.buscador {
    display: flex;
    margin-left: auto;
}


.buscador {
    display: flex;
    margin-left: auto;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px;
}

.contacto {
    margin-left: auto;
}
.mapa{
    transform: scale(1);
    width: 100%;
    transition: 0.5s;
}
.mapa:hover{
    transform: scale(1.5);
}
@media (max-width: 500px) {
    article {
        display: grid;
    }

    #encabezado {
        display: block;
    }

    footer {
        display: grid;
        margin: auto;
    }
    .mapa:hover{
        transform: scale(1);
    }
    .buscador {
        display: flex;
        margin: auto;
        width: 90%;
    }

    .logo {
        display: flex;
        margin: auto;
    }

    .contacto{
        display: inline;
        margin: auto;
    }
    .preguntas{
        margin:auto;
    }
    .preguntas h3{
        text-align: center;
    }
    .menu {
        display: grid;
        text-align: center;
    }
}